@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Voces&family=Work+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    font-family: "Work sans";
    background-color: #FFF4D8;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

header{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 60px;
    text-align: left;
    letter-spacing: 2px;
}
.movie-container{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    border: 2px solid crimson;
}
.movie{
    /*border: 2px solid blue;*/
    border-radius: 15px;
    width: 300px;
    height: 430px;
    margin: 10px;
    padding: 20px;
}
.movie .poster-container{
    border-radius: 15px;
    width: 250px;
    height: 350px;
    margin: 5px;
}
.img{
    margin-top: -10px;
    width: 250px;
    height: 350px;
    border-radius: 10px;
}
.movie-name{
    font-family: "Voces";
    margin-top: -7px;
    margin-left: 5px;
}
.year{
    margin-left: 5px;
    font-family: "Voces";
}
