@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Voces&family=Work+Sans:wght@700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid rgb(33, 189, 16); */
} 

body{
    display:flex;
    font-family: "Work sans";
    background-color: #FFF4D8;
    background: linear-gradient(to bottom, #FFF4D8, #ffe298);
    flex-direction: column;
    justify-content:center;
    margin: 0;
    /* border: 1px solid rgb(189, 16, 134); */
}

header{
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 2px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    /* border: 2px solid crimson; */
}
.movie{
    /*border: 2px solid blue;*/
    border-radius: 15px;
    width: 150px;
    height: 270px;
    margin: 10px;
    padding: 20px;
}
.movie:hover{
    background-color: #ffe298;
}
.movie .poster-container{
    border-radius: 15px;
    width: 100px;
    height: 160px;
    margin: 5px;
}
.img{
    margin-top: -10px;
    width: 100px;
    height: 160px;
    border-radius: 10px;
}
.movie-name{
    font-family: "Voces";
    font-size: 1em;
    margin-top: -7px;
    margin-left: 5px;
}
.year{
    margin-top: 1px;
    margin-left: 5px;
    font-family: "Voces";
}
/* desde aquí dará instrucciones para tablets */
@media only screen and (min-width: 600px) { 
    header{
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 60px;
        text-align: left;
        letter-spacing: 2px;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        align-items: space-between;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        /* border: 2px solid crimson; */
    }
    .movie{
        /* border: 2px solid blue; */
        border-radius: 15px;
        width: 300px;
        height: 450px;
        margin: 10px;
        padding: 20px;
    }
    .movie .poster-container{
        border-radius: 15px;
        width: 250px;
        height: 350px;
        margin: 5px;
    }
    .img{
        margin-top: -10px;
        width: 250px;
        height: 350px;
        border-radius: 10px;
    }
    .movie-name{
        font-family: "Voces";
        margin-top: -7px;
        margin-left: 5px;
    }
    .year{
        margin-left: 5px;
        font-family: "Voces";
    }

}

/* desde aquí dará instrucciones para escritorio */
@media only screen and (min-width: 768px) {
    .movie{
        /* border: 2px solid rgb(140, 0, 255); */
        
    }

}