@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid rgb(33, 189, 16); */
} 

body{
    min-height: 100vh;
    display:flex;
    font-family: 'Roboto', sans-serif;
    background-color: #FFF4D8;
    background: linear-gradient(to bottom, #FFF4D8, #ffe9b0);
    flex-direction: column;
    margin: 0;
    /* border: 1px solid rgb(189, 16, 134); */
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
    /*border: black solid 2px;*/
}

main{
    align-items: space-between;
    justify-content: center;
}

.ghibliLogo {
    width: 253px;
    height: 117px;
}

.logo {
    width: 253px;
    height: 117px;   
}
#menuBar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 140px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background: #51196B;
}
.cards-filter {
    width: 80%;
    height: 35px;
    padding: 5px;
    background: #5b336e;
    color: #FFF9EC;
    margin-right: 15px;
    border: 3px solid #51196B; 
    border-radius: 6px;
}
.select:focus,
.cards-filter:focus {
    outline: none;
}
#searchSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#filtersSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards-filter::placeholder {
    color: #faf0d8;
}
.icon-search{
    display: none;
    width: 27px;
    height: 27px;
    margin-left: 0px;
}
.select{
    width: 80%;
    height: 35px;
    padding: 5px;
    background: #5b336e;
    color: #FFF9EC;
    margin-right: 15px;
    border: 3px solid #51196B; 
    border-radius: 6px;
    font-size: 1em;
}
#showCount{
    margin-top: 10px;
    text-align: center;
}
.movie-container{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
}

.movie{
    /*border: 2px solid blue;*/
    border-radius: 15px;
    width: 150px;
    height: 243px;
    margin: 10px;
    padding: 20px;
}

.btn-search:hover,
.movie:hover{
    background-color: #fddd8a;
}

.movie .poster-container{
    border-radius: 15px;
    width: 100px;
    height: 140px;
    margin: 5px;
}

.img{
    margin-top: -10px;
    width: 100px;
    height: 140px;
    border-radius: 10px;
}

.movie-name{
    font-size: 1em;
    letter-spacing: 0.7px;
    margin-top: -7px;
    margin-left: 5px;
}

.year{
    margin-top: 1px;
    margin-left: 5px;
    font-weight: 100;
    letter-spacing: 0.2px;
}

.movie-container div.hide {
    display: none;
}

/* DESDE AQUÍ INSTRUCCIONES PARA TABLET */
@media only screen and (min-width: 600px) { 

header{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: left;
    letter-spacing: 2px;
}

.ghibliLogo {
    width: 307px;
    height: 143px;
}

.logo {
    width: 307px;
    height: 143px;   
}
main{
    padding: 20px;
    align-items: space-between;
    justify-content: center;
}
#menuBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background: #51196B;
}
#searchSection{
    margin-bottom: 0;
}
#filtersSection{
    display: flex;
    flex-direction: row;
    
}
.cards-filter {
    width: 200px;
    height: 35px;
    padding: 5px;
    background: #5b336e;
    color: #FFF9EC;
    margin-right: 15px;
    border: 3px solid #51196B; 
    border-radius: 6px;  
}
.select{
    width: 120px;
    height: 35px;
}
.cards-filter:focus {
    outline: none;
}
.cards-filter::placeholder {
    color: #faf0d8;
}
.movie-containers{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    /* border: 2px solid crimson; */
}

.movie{
    /* border: 2px solid blue; */
    border-radius: 15px;
    width: 240px;
    height: 370px;
    margin: 10px;
    padding: 20px;
}

.movie .poster-container{
    border-radius: 15px;
    width: 190px;
    height: 280px;
    margin: 5px;
}

.img{
    margin-top: -10px;
    width: 190px;
    height: 280px;
    border-radius: 10px;
}

.movie-name{
    margin-top: -7px;
    margin-left: 5px;
    font-size: 1.1em;
}

.year{
    margin-left: 5px;
    font-size: 1em;
}

}


/* DESDE AQUÍ INSTRUCCIONES PARA ESCRITORIO */
@media only screen and (min-width: 722px) {
    .ghibliLogo {
        width: 436px;
        height: 202px;
    }
    
    .logo {
        width: 436px;
        height: 202px;   
    }
    .select{
        width: 200px;
        height: 35px;
    }

    .movie{
        /* border: 2px solid blue; */
        border-radius: 15px;
        width: 300px;
        height: 450px;
        margin: 10px;
        padding: 20px;
    }

    .movie .poster-container{
        border-radius: 15px;
        width: 250px;
        height: 350px;
        margin: 5px;
    }
    .img{
        margin-top: -10px;
        width: 250px;
        height: 350px;
        border-radius: 10px;
    }
    .movie-name{
        margin-top: -7px;
        margin-left: 5px;
    }
    .year{
        margin-left: 5px;
    }

}